.about__content ul {
    padding-top: 30px;
    padding-left: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 2px));
}
.about__content  li {
    
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 0.9em;
    color: var(--slate);
  }
  
.about__content li::before {
    content: "▹    ";
    color: var(--green-bright);
    position: absolute;
    left: 0;
  }
  